/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-y:hidden;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

a {
    outline: 0;
}

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar .navbar-right,
.footer .navbar-right a {
    margin-top: 7px;
    outline: 0;
}

.footer .navbar-toggle {
    margin-top: 16px;
}

#listModal .modal-dialog,
#ordersModal .modal-dialog,
#priceModal .modal-dialog,
#chartModal .modal-dialog {
    overflow-y: initial !important;
}

#listModal .modal-body,
#ordersModal .modal-body,
#priceModal .modal-body,
#chartModal .modal-body {
    height: 450px;
    overflow-y: auto;
}

i, span {
    vertical-align: top;
    line-height: 25px;
}

#total_stations {
    color: black;
}

#min_price {
    color: darkgreen;
}

#average_price {
    color: navy;
}

#max_price {
    color: maroon;
}

/* Map */
.content {
    min-height: 100%;
}

.content-map {
    position: absolute !important;
    top: 51px;
    right: 0;
    bottom: 60px;
    left: 0;
}

#chart_div {
    width: 100%;
    min-height: 450px;
}
